<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main class = "estadisticas-container">
        <h1>Estadísticas</h1>
    
        <figure class = "highcharts-figure">
            <div id = "container1" style = "height: 360px;"></div>
            <p class = "highcharts-description">
                Avisos agregados por día.
            </p>
        </figure>
        <figure class = "highcharts-figure">
            <div id = "container2" style = "height: 360px;"></div>
            <p class = "highcharts-description">
                Proporción de avisos por tipo de mascota.
            </p>
        </figure>
        <figure class = "highcharts-figure">
            <div id = "container3" style = "height: 360px;"></div>
            <p class = "highcharts-description">
                Avisos por mes.
            </p>
        </figure>
        <div class ="boton">
            <a href="{{ url_for('portada') }}" class = "volver">Volver al inicio</a>
        </div>
    </main>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src = "{{ url_for('static', filename='js/stats.js') }}"></script>
</body>
</html>
