<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar Aviso</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<main>
    <div id="form-container" class="container">
        <form class = "formulario" id = "Aviso-form">
            <h2>Region</h2>
            <div id = "region-select" class="grupo-input">
                <label for = "region">Región</label>
                <select id  = "region" name = "region"  required>
                    <option value="">Seleccione una región</option>
                </select>
                
            </div>
            <div id="comuna-select" class="grupo-input">
                    <label for="comuna">Comuna</label>
                    <select id="comuna" name="comuna"  required>
                        <option value="">Seleccione una comuna</option>
                    </select>
            </div>
            <div class="grupo-input">
                    <label for="sector">Sector</label>
                    <input id="sector" name="sector" type = "text"  maxlength="100" >

            </div>
            <h2>¿Contacto de esta publicación?</h2>
            <div id="nombre-input" class="grupo-input">
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" minlength="3" maxlength="100" required >
            </div>
            <div id="email-input" class="grupo-input">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" maxlength="100" required >
            </div>
            <div id="telefono-input" class="grupo-input">
                <label for="telefono">Teléfono</label>
                <input id="telefono" name="telefono" type="tel" required>
            </div>
            <div id="contactar_por-input" class="grupo-input">
                <label for="contactar_por">contactar por</label>
                <select id="contactar_por" name="contactar_por" required>
                    <option value ="">Seleccione una opción</option>
                    <option value="Instagram">Instagram</option>
                    <option value="WhatsApp">WhatsApp</option>
                    <option value="Telegram">Telegram</option>
                    <option value="X">X</option>
                    <option value="TikTok">TikTok</option>
                    <option value="Otra">Otra</option>
                </select>
            </div>
            <!--Recordar meter en el main la cosa para que esta linea se haga visible al seleccionar una opcion arriba-->
            <div id = "info-contacto" class="grupo-input" style="display:none;">
                <label for="id-contacto">Id contacto o URL</label>
                <input id="id-contacto" name="id-contacto" type="text" minlength="5" maxlength="50" >
            </div>
            
            <h2>¿Qué mascota ofrece en adopción?</h2>
            <div id = "tipo-input" class = "grupo-input">
                <label for = "tipo">Tipo</label>
                <select id = "tipo" name = "tipo" required>
                    <option value=''>Seleccione una opción</option>
                    <option value="Perro">Perro</option>
                    <option value="Gato">Gato</option>
                </select>
            </div>
            <div id = "cantidad-input" class = "grupo-input">
                <label for = "cantidad">Cantidad</label>
                <input id = "cantidad" name = "cantidad" type = "number" min = "1" required >
            </div>
            <div id = "edad-input" class = "grupo-input">
                <label for = "edad">Edad</label>
                <input id = "edad" name = "edad" type = "number" min = "1" required >
            </div>
            <div id = "unidadMedidaEdad-input" class = "grupo-input">
                <label for = "unidadMedidaEdad">Unidad de medida</label>
                <select id = "unidadMedidaEdad" name = "unidadMedidaEdad" required>
                    <option value="">Seleccione una opción</option>
                    <option value="Meses">Meses</option>
                    <option value="Años">Años</option>
                </select>
            </div>
            <div id = "FechaDisponibleEntrega-input" class = "grupo-input">
                <label for = "FechaDisponibleEntrega">Fecha de disponibilidad de entrega</label>
                <input id = "FechaDisponibleEntrega" name = "FechaDisponibleEntrega" type = "datetime-local" required >  <!-- Falta poner aca que la fehca es con hora y minutos y tiene que ser despues del dia donde se pubblica-->
            </div>
            <div id = "descripcion-input" class = "grupo-input">
                <label for = "descripcion">Descripción</label>
                <textarea id = "descripcion" name = "descripcion" cols="50" rows = "10"></textarea>
            </div>
            <div id = "foto-input" class = "grupo-input">
                <label for = "foto">Foto(s) (1 a 5)</label>
                <div id = "fotos">
                    <input id = "foto" name = "foto" type = "file" accept="image/*" required>
                </div>
                <button type="button" id="agregar-foto">Agregar otra foto</button>              <!--Falta hacer que no se puedan agregar mas de 5 fotos-->
            </div>

            <div class="boton">
                <button type="button" id="enviar">
                Agregar este aviso de adopción
            </button>
            </div>
            <div id="confirmacion" style="display:none;">
                <div class="ventana de confirmacion">
                    <p >¿Está seguro que desea agregar este aviso de adopción?</p>
                    <div class="botones">
                        <button type = "button" id="si">Sí, estoy seguro</button>
                        <button type = "button" id="no">No, no estoy seguro, quiero volver al formulario</button>
                    </div>
                </div>
            </div>
            <div class ="boton">
                <a href="portada.html" class = "volver">Volver al inicio</a>
            </div>
        </form>
        
    </div>
    <div id="botonvolver" style="display: none;">
        <a href="portada.html">Volver al inicio</a>
    </div>
    <script src="../js/region_comuna.js"></script>
    <script src="../js/main.js"></script>
    
</main>
</html>